
	<!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/12.jpg);">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Title -->
            	<div class="title-column col-lg-6 col-md-12 col-sm-12">
                	<h1>Contact Us</h1>
                </div>
                <!--Bread Crumb -->
                <div class="breadcrumb-column col-lg-6 col-md-12 col-sm-12">
                    <ul class="bread-crumb clearfix">
                        <li><a href="#"><span class="icon fas fa-home"></span> Home</a></li>
                        <li class="active"><span class="icon fas fa-arrow-alt-circle-right"></span> Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Map Section -->
	<section class="map-section">
		<div class="auto-container">
			<div class="map-outer">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14011.545922850899!2d77.09157088197665!3d28.603182168868262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1b57abd1ce2f%3A0x358871b1fb6d6df1!2sSagar%20Pur%2C%20New%20Delhi%2C%20Delhi%20110046!5e0!3m2!1sen!2sin!4v1646772638209!5m2!1sen!2sin" width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>
	</section>
	<!-- End Map Section -->
	
	<!-- Contact Section -->
	<section class="contact-section" style="background-image: url(assets/images/background/map-pattern-1.png)">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h2><span class="theme_color">Contact </span> Us</h2>
				<div class="text">Thank you very much for your interest in our company and our services </div>
			</div>
			<div class="row clearfix">
			
				<!-- Column -->
				<!-- <div class="info-column col-lg-4 col-md-6 col-sm-12">
					<div class="inner-column">
						<div class="icon-box">
							<span class="icon flaticon-location"></span>
						</div>
						<h3>Address:</h3>
						<div class="text">RZ-135A/91, Sagarpur <br> New Delhi, INDIA</div>
					</div>
				</div> -->
				
				<!-- Column -->
				<div class="info-column col-lg-6 col-md-6 col-sm-12">
					<div class="inner-column">
						<div class="icon-box">
							<span class="icon flaticon-call"></span>
						</div>
						<h3>Phone:</h3>
						<div class="text">(+91) 8534029996<br></div>
					</div>
				</div>
				
				<!-- Column -->
				<div class="info-column col-lg-6 col-md-6 col-sm-12">
					<div class="inner-column">
						<div class="icon-box">
							<span class="icon flaticon-email-1"></span>
						</div>
						<h3>Email:</h3>
						<div class="text">info@anupambharatsangh.org</div>
					</div>
				</div>
				
			</div>
		
			<!-- Default Form -->
			<div class="default-form contact-form">
				<form method="post" action="#" id="contact-form">
				
					<div class="row clearfix">
					
						<!-- Column -->
						<div class="column col-lg-6 col-md-12 col-sm-12">
						
							<!-- Form Group -->
							<div class="form-group">
								<input type="text" name="name" value="" placeholder="Username" required>
							</div>
							<!-- Form Group -->
							<div class="form-group">
								<input type="email" name="email" value="" placeholder="Email Address" required>
							</div>
							<!-- Form Group -->
							<div class="form-group">
								<input type="text" name="phone" value="" placeholder="Phone" required>
							</div>
						
						</div>
						
						<!-- Column -->
						<div class="column col-lg-6 col-md-12 col-sm-12">
							<!-- Form Group -->
							<div class="form-group">
								<textarea name="message" placeholder="Message"></textarea>
							</div>
							
						</div>
						
					</div>
					
					<div class="form-group text-center col-lg-12 col-md-12 col-sm-12">
						<button type="submit" class="theme-btn btn-style-three"><span class="txt">SEND NOW</span></button>
					</div>                                     
					
				</form>
			</div>
			<!--End Default Form-->
		
		</div>
	</section>
	<!-- End Contact Section -->
	
	<!--Clients Section-->
    <section class="clients-section">
        <div class="outer-container">
            
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
               <sponsers></sponsers>
            </div>
            
        </div>
    </section>
    <!--End Clients Section-->