<div class="card">
    <div class="card-body col-md-6">
        <form class="form" [formGroup]="homeCausesSectionForm" (ngSubmit)="addHomeCausesSection()" autocomplete="off" novalidate>
            <div class="form-group text-left">
                <label for="Title">Section Heading</label>
                <input type="text" formControlName="SectionHeading" class="form-control"/>
                <div class="alert alert-danger" *ngIf="f.SectionHeading.invalid && (f.SectionHeading.dirty || f.SectionHeading.touched)">
                    <div role="alert" *ngIf="f.SectionHeading.errors?.required">
                        SectionHeading is required!
                    </div>
                </div>
            </div>  
         
            <div class="form-group text-left">
                <label for="slogan">Section SubHeading</label>
                <input formControlName="SectionSubHeading" rows="5" cols="33" class="form-control" />
                <div class="alert alert-danger" *ngIf="f.SectionSubHeading.invalid && (f.SectionSubHeading.dirty || f.SectionSubHeading.touched)">
                    <div role="alert" *ngIf="f.SectionSubHeading.errors?.required">
                        SectionSubHeading is required!
                    </div>
                </div>
            </div>          
          
            <div class="form-group" style="float: right;">                
                <button class="btn btn-primary">
                    <span class="spinner-border spinner-border-sm">
                        <strong>Save</strong>
                    </span>                    
                </button>
            </div>
        </form>
    </div>
</div>


