<div class="card" *ngIf="!isView">
    <div class="card-body col-md-6">
        <form class="form" [formGroup]="homeEventCountSectionForm" (ngSubmit)="addHomeEventCountSection()" autocomplete="off" novalidate>
            <div class="form-group text-left">
                <label for="EventCaption">EventCaption</label>
                <input type="text" formControlName="EventCaption" class="form-control"/>
                <div class="alert alert-danger" *ngIf="f.EventCaption.invalid && (f.EventCaption.dirty || f.EventCaption.touched)">
                    <div role="alert" *ngIf="f.EventCaption.errors?.required">
                        EventCaption is required!
                    </div>
                </div>
            </div>  
         
            <div class="form-group text-left">
                <label for="EventCount">EventCount</label>
                <input  formControlName="EventCount" class="form-control" />
                <div class="alert alert-danger" *ngIf="f.EventCount.invalid && (f.EventCount.dirty || f.EventCount.touched)">
                    <div role="alert" *ngIf="f.EventCount.errors?.required">
                        EventCount is required!
                    </div>
                </div>
            </div>       
             
            <div class="form-group" style="float: right;">
                <button type="button" class="btn btn-danger mr-2" (click)="reset()">Cancel</button>
                <button class="btn btn-primary">
                    <span class="spinner-border spinner-border-sm">
                        <strong>{{isEdit===false?'Submit':'Update'}}</strong>
                    </span>
                    
                </button>
            </div>
        </form>
    </div>
</div>

<div class="card" *ngIf="isView">
    <div class="card-body">
        <div class="d-md-flex align-items-center">

            <div class="ml-auto mb-2">
                <button type="button" class="btn btn-primary" style="border-radius: 30px;" (click)="add()">
                    <i class="fa fa-plus"></i>
                    Add</button>
            </div>
        </div>
        <div class="row" >
            <form [formGroup]="searchHomeEventCountSectionForm" (ngSubmit)="searchhomeEventCountSection()" novalidate  style="width:100%">
                <div class="row">                   
                       <div class="col-md-4 from-group py-2">
					    <input type="text" formControlName="EventCaption" class="form-control" placeholder="Event Caption"/>
					   </div> 
                        <div class="col-md-4 form-group py-2">
                            <select class="form-control ddl" formControlName="IsActive">
                                <option value="">--Status--</option>
                                <option value="1">Active</option>
                                <option value="0">InActive</option>
                            </select>
                        </div>                  
                 
                        <div class="col-md-4 form-group py-2">
						<button type="submit" class="btn btn-danger btn-rounded">
                            <i class="fa fa-search"></i>&nbsp;Search</button>
						</div>                 

                </div>
            </form>

        </div>

    </div>
  
    <div class="table-responsive">
        <hr/>
        <div class="text-right mr-5">
            <strong>Total HomeEventCountSection:</strong>
            {{totalHomeEventCountSection}}
        </div>
        <hr/>      
        <table class="table v-middle mb-0 no-wrap">
            <thead>
                <tr>
                    <th class="border-top-0 font-medium border-bottom-0">SNo.</th>
                    <th class="border-top-0 font-medium border-bottom-0">EventCaption</th>  
                    <th class="border-top-0 font-medium border-bottom-0">EventCount</th> 
                                   
                    <th class="border-top-0 font-medium border-bottom-0">Status</th>
                    <th class="border-top-0 font-medium border-bottom-0" colspan="2">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let cat of homeEventCountSectionList;index as i'>
                    <td>{{i+1}}</td>
                    <td>
                        {{cat.EventCaption}}
                    </td>  
                    <td>
                        {{cat.EventCount}}
                    </td>    
                   
                       
                      <td>
                       
                        <label class="toggle-switch">
                            <input type="checkbox" [(ngModel)]="cat.IsActive" (click)="changeStatus(cat)"/>
                            <div class="slider"></div>
                        </label>
                    </td>
                    <td>
                        <i class="fa fa-edit" (click)="editHomeEventCountSection(cat)"></i>
                    </td>
                    <td>
                        <i class="fa fa-trash text-danger" (click)="deleteHomeEventCountSection(cat)"></i>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

