	
	 <app-banner></app-banner>	
	<!-- Call To Action Section -->
	<app-home-donate></app-home-donate>
	<!-- End Call To Action Section -->
	
	<!-- Welcome Section -->
	<app-welcome></app-welcome>
	<!-- End Welcome Section -->
	
	<!-- Counter Section -->
	<app-home-counter></app-home-counter>
	<!-- End Counter Section -->
	
	<!-- Causes Section -->
	<app-home-cause></app-home-cause>
	<!-- End Causes Section -->
	
	<!-- Services Section -->
	<app-home-events></app-home-events>
	<!-- End Services Section -->
	
	<!-- Fluid Section One -->
    <app-home-event-list></app-home-event-list>
	
	<!-- Call To Action Section -->
   <app-help></app-help>	
	<!-- Call To Action Section -->		
	
	<!-- Volunter Section -->
	<app-volunteer-section></app-volunteer-section>
	<!-- End Volunter Section -->
	
	<!-- News Section -->
	<app-news-section></app-news-section>
	<!-- End News Section -->
	
	<!--Clients Section-->
    <section class="clients-section">
        <div class="outer-container">
            
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <sponsers></sponsers>
               
            </div>
            
        </div>
    </section>
    <!--End Clients Section-->