
<div class="card">
    <div class="card-body col-md-6">
        <form class="form" [formGroup]="volunteersSectionForm" (ngSubmit)="addVolunteersSection()" autocomplete="off" novalidate>
            <div class="form-group text-left">
                <label for="Title">Title</label>
                <input type="text" formControlName="HeadingTitle" class="form-control"/>
                <div class="alert alert-danger" *ngIf="f.HeadingTitle.invalid && (f.HeadingTitle.dirty || f.HeadingTitle.touched)">
                    <div role="alert" *ngIf="f.HeadingTitle.errors?.required">
                        Title is required!
                    </div>
                </div>
            </div>  
         
            <div class="form-group text-left">
                <label for="slogan">Description</label>
                <textarea formControlName="Description" rows="5" cols="33" class="form-control" ></textarea>
                <div class="alert alert-danger" *ngIf="f.Description.invalid && (f.Description.dirty || f.Description.touched)">
                    <div role="alert" *ngIf="f.Description.errors?.required">
                        Description is required!
                    </div>
                </div>
            </div>          
          
            <div class="form-group" style="float: right;">                
                <button class="btn btn-primary">
                    <span class="spinner-border spinner-border-sm">
                        <strong>Save</strong>
                    </span>                    
                </button>
            </div>
        </form>
    </div>
</div>


