
	<!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/12.jpg);">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Title -->
            	<div class="title-column col-lg-6 col-md-12 col-sm-12">
                	<h1>About Us</h1>
                </div>
                <!--Bread Crumb -->
                <div class="breadcrumb-column col-lg-6 col-md-12 col-sm-12">
                    <ul class="bread-crumb clearfix">
                        <li><a style="cursor:pointer" [routerLink]="['/home']"><span class="icon fas fa-home"></span> Home</a></li>
                        <li class="active"><span class="icon fas fa-arrow-alt-circle-right"></span> About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Welcome Section -->
	<app-welcome></app-welcome>
	<!-- End Welcome Section -->
	
	<!-- Counter Section -->
	<app-home-counter></app-home-counter>
	
	<!-- End Counter Section -->
	
	<!-- Services Section -->
	<section class="services-section-two style-two">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h2><span class="theme_color">Mission & </span> Goals</h2>
				<div class="text">Many children and poor people are at high risk <br> of severe malnutrition</div>
			</div>
			<div class="row clearfix">
				
				<!-- Service Block Two -->
				<div class="service-block-two col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon flaticon-money-bag"></span>
						</div>
						<h3><a href="#">Make a Donation</a></h3>
						<div class="text">Default text for Box Content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
					</div>
				</div>
				
				<!-- Service Block Two -->
				<div class="service-block-two col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon flaticon-donation-2"></span>
						</div>
						<h3><a href="#">Become A Volunteer</a></h3>
						<div class="text">Default text for Box Content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
					</div>
				</div>
				
				<!-- Service Block Two -->
				<div class="service-block-two col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon flaticon-house-1"></span>
						</div>
						<h3><a href="#">Shelter for Homeless</a></h3>
						<div class="text">Default text for Box Content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
					</div>
				</div>
				
				<!-- Service Block Two -->
				<div class="service-block-two col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon flaticon-world"></span>
						</div>
						<h3><a href="#">Make World Happier</a></h3>
						<div class="text">Default text for Box Content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
					</div>
				</div>
			
			</div>
		</div>
	</section>
	
	<!-- Call To Action Section -->
	<app-help></app-help>
  	
	<!-- Call To Action Section -->
	
	<!-- Volunter Section -->
	<app-volunteer-section></app-volunteer-section>
	<!-- End Volunter Section -->
	
	<!-- Donate Form Section -->
	<section class="donate-form-section" style="background-image:url(assets/images/background/10.jpg)">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<!-- <div class="image">
							<img src="assets/images/resource/image-2.png" alt="" />
						</div> -->
					</div>
				</div>
				
				<!-- Form Column -->
				<div class="form-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title light centered">
							<h2><span class="theme_color">Donate </span> Now</h2>
							<div class="text">We are always looking out and timely help disadvantaged, <br> See our latest campaign and if can you pledonaa</div>
						</div>
						
						<!-- Default Form -->
						<div class="default-form style-two">
							<form method="post" action="#">
							
								<div class="row clearfix">
								
									<!-- Form Group -->
									<div class="form-group col-lg-12 col-md-12 col-sm-12">
										<input type="text" name="project" value="" placeholder="Project You Want to donation" required>
									</div>
								
									<!-- Form Group -->
									<div class="form-group col-lg-6 col-md-6 col-sm-12">
										<input type="text" name="name" value="" placeholder="First Name" required>
									</div>
									
									<!-- Form Group -->
									<div class="form-group col-lg-6 col-md-6 col-sm-12">
										<input type="text" name="lastname" value="" placeholder="Last Name" required>
									</div>
									
									<!-- Form Group -->
									<div class="form-group col-lg-12 col-md-12 col-sm-12">
										<input type="text" name="amount" value="" placeholder="Your Gift ( US Dollar $ )" required>
									</div>
									
									<!-- Form Group -->
									<div class="form-group col-lg-12 col-md-12 col-sm-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									
									<div class="form-group text-center col-lg-12 col-md-12 col-sm-12">
										<button type="submit" class="theme-btn btn-style-three"><span class="txt">Fund now</span></button>
									</div>                                     
									
								</div>
								
							</form>
						</div>
						<!--End Default Form-->
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Donate Form Section -->
	
	<!-- Faq Section -->
	<section class="faq-section style-two">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Accordian Column -->
				<div class="accordian-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<h2><span class="theme_color">some</span> faq's</h2>
						</div>
						
						<!--Accordian Box-->
						<ul class="accordion-box">

							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What payment methods are supported?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Due to the increases of frauds in the industry (purchase a product and then request a refund to get the product for free), we only grant the refunds for some specific cases.</div>
									</div>
								</div>
							</li>

							<!--Block-->
							<li class="accordion block active-block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How to send Site's access information?</div>
								<div class="acc-content current">
									<div class="content">
										<div class="text">Due to the increases of frauds in the industry (purchase a product and then request a refund to get the product for free), we only grant the refunds for some specific cases.</div>
									</div>
								</div>
							</li>
							
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How to reset your database?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Due to the increases of frauds in the industry (purchase a product and then request a refund to get the product for free), we only grant the refunds for some specific cases.</div>
									</div>
								</div>
							</li>
							
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Where do I find Visual Composer License Key?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Due to the increases of frauds in the industry (purchase a product and then request a refund to get the product for free), we only grant the refunds for some specific cases.</div>
									</div>
								</div>
							</li>
							
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>The goal of the organisation.</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Due to the increases of frauds in the industry (purchase a product and then request a refund to get the product for free), we only grant the refunds for some specific cases.</div>
									</div>
								</div>
							</li>
							
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Most Trusted project for organisation. </div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Due to the increases of frauds in the industry (purchase a product and then request a refund to get the product for free), we only grant the refunds for some specific cases.</div>
									</div>
								</div>
							</li>
						
						</ul>
						
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column wow zoomIn" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="assets/images/resource/faq.jpg" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Faq Section -->
	
	<!--Clients Section-->
    <section class="clients-section">
        <div class="outer-container">
            
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <sponsers></sponsers>
               
            </div>
            
        </div>
    </section>
    <!--End Clients Section-->
	
	<!--Newsleter Section-->
	<news-letter></news-letter>
    <!--End Newsleter Section-->