
	<!--Main Footer-->
    <footer class="main-footer" style="background-image:url(assets/images/background/map-pattern.png)">
		<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--Footer Column-->
                    <div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget logo-widget">
                        	<div class="logo">
                            	<a href="#"><img src="assets/images/footer-logo.png" alt="" /></a>
                            </div>
							<div class="text">Core values are the fundamental beliefs of a person or organization. The core values are the guiding prin ples that dictate behavior and action suas labore saperet has there any quote for write lorem percit latineu.</div>
							<!--Social Box-->
							<ul class="social-box">
								<li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
								<li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
								<li><a href="#"><span class="fab fa-skype"></span></a></li>
								<li><a href="#"><span class="fab fa-twitter"></span></a></li>
								<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
							</ul>
						</div>
					</div>
					
					<!--Footer Column-->
                    <div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget news-widget">
                        	<h2>Recent Posts</h2>
                            
                            <article class="post">
                            	<figure class="post-thumb"><a href="#"><img src="assets/images/resource/news-thumb-1.jpg" alt=""></a></figure>
                                <div class="text"><a href="#">Feeding for the poor people help these life.</a></div>
                                <div class="post-info">12 Dec, 2018</div>
                            </article>
                            
                            <article class="post">
                            	<figure class="post-thumb"><a href="#"><img src="assets/images/resource/news-thumb-2.jpg" alt=""></a></figure>
                                <div class="text"><a href="#">Take care of children for the greate serving</a></div>
                                <div class="post-info">12 Dec, 2018</div>
                            </article>
                            
                        </div>
                    </div>
					
					<!--Footer Column-->
                    <div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget info-widget">
                        	<h2>Contact Us</h2>
							<ul class="list-style-one">
								<!-- <li><span class="icon fas fa-map-marker-alt"></span>RZ-135A/91, Sagarpur,New Delhi,110045 INDIA</li> -->
								<li><span class="icon fas fa-phone"></span>Support: <a href="tel:+91-8534029996">+(91) 8534029996</a></li>
								<li><span class="icon fas fa-envelope-open"></span>Email: <a href="mailto:info@anupambharatsangh.org">info@anupambharatsangh.org</a></li>
							</ul>
							<!--Emailed Form-->
							<div class="emailed-form">
								<form method="post" action="#">
									<div class="form-group">
										<input type="email" name="email" value="" placeholder="Enter Email" required>
										<button type="submit" class="theme-btn">submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="clearfix">
					<div class="pull-left">
						<div class="copyright">Copyrights © {{currentYear}} <a href="#">Anupam Bharat Sangh.</a> All rights reserved.</div>
					</div>
					<div class="pull-right">
						<ul class="footer-nav">
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Sitemap</a></li>
							<li><a href="#">Terms of Use</a></li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
	</footer>