<div class="card" *ngIf="!isView">
    <div class="card-body col-md-6">
        <form class="form" [formGroup]="sponserForm" (ngSubmit)="addSponser()" autocomplete="off" novalidate>
            <div class="form-group text-left">
                <label for="Title">Title</label>
                <input type="text" formControlName="SponserTitle" class="form-control"/>
                <div class="alert alert-danger" *ngIf="f.SponserTitle.invalid && (f.SponserTitle.dirty || f.SponserTitle.touched)">
                    <div role="alert" *ngIf="f.SponserTitle.errors?.required">
                        Title is required!
                    </div>
                </div>
            </div>  
            <div class="form-group text-left">
                <label for="Sponser Image">Sponser Image</label>
                <img src="{{sponserForm.value.SponserImage}}" width="120" height="170" />
                <input type='file' (change)="onSelectFile($event)" />
                <div class="alert alert-danger" *ngIf="f.SponserImage.invalid && (f.SponserImage.dirty || f.SponserImage.touched)">
                    <div role="alert" *ngIf="f.SponserImage.errors?.required">
                        SponserImage is required!
                    </div>
                </div>
            </div> 
            <div class="form-group text-left">
                <label for="slogan">SponserTagLine</label>
                <textarea formControlName="SponserTagLine" rows="5" cols="33" class="form-control" ></textarea>
                <div class="alert alert-danger" *ngIf="f.SponserTagLine.invalid && (f.SponserTagLine.dirty || f.SponserTagLine.touched)">
                    <div role="alert" *ngIf="f.SponserTagLine.errors?.required">
                        SponserTagLine is required!
                    </div>
                </div>
            </div> 
           
            <div class="form-group" style="float: right;">
                <button type="button" class="btn btn-danger mr-2" (click)="reset()">Cancel</button>
                <button class="btn btn-primary">
                    <span class="spinner-border spinner-border-sm">
                        <strong>{{isEdit===false?'Submit':'Update'}}</strong>
                    </span>
                    
                </button>
            </div>
        </form>
    </div>
</div>

<div class="card" *ngIf="isView">
    <div class="card-body">
        <div class="d-md-flex align-items-center">

            <div class="ml-auto mb-2">
                <button type="button" class="btn btn-primary" style="border-radius: 30px;" (click)="add()">
                    <i class="fa fa-plus"></i>
                    Add</button>
            </div>
        </div>
        <div class="row" >
            <form [formGroup]="searchSponserForm" (ngSubmit)="searchSponser()" novalidate  style="width:100%">
                <div class="row">                   
                       <div class="col-md-4 from-group py-2">
					    <input type="text" formControlName="SponserTitle" class="form-control" placeholder="Title"/>
					   </div> 
                        <div class="col-md-4 form-group py-2">
                            <select class="form-control ddl" formControlName="IsActive">
                                <option value="">--Status--</option>
                                <option value="1">Active</option>
                                <option value="0">InActive</option>
                            </select>
                        </div>                  
                 
                        <div class="col-md-4 form-group py-2">
						<button type="submit" class="btn btn-danger btn-rounded">
                            <i class="fa fa-search"></i>&nbsp;Search</button>
						</div>                 

                </div>
            </form>

        </div>

    </div>
  
    <div class="table-responsive">
        <hr/>
        <div class="text-right mr-5">
            <strong>Total Sponser:</strong>
            {{totalSponser}}
        </div>
        <hr/>      
        <table class="table v-middle mb-0 no-wrap">
            <thead>
                <tr>
                    <th class="border-top-0 font-medium border-bottom-0">SNo.</th>
                    <th class="border-top-0 font-medium border-bottom-0">Sponser Title</th>  
                   
                    <th class="border-top-0 font-medium border-bottom-0">Sponser Image</th> 
                    <th class="border-top-0 font-medium border-bottom-0">Sponser TagLine</th>    
                                 
                    <th class="border-top-0 font-medium border-bottom-0">Status</th>
                    <th class="border-top-0 font-medium border-bottom-0" colspan="2">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let cat of sponserList;index as i'>
                    <td>{{i+1}}</td>
                    <td>
                        {{cat.SponserTitle}}
                    </td>    
                   
                    <td><img src={{apiEndPoint+cat.SponserImage}} style="width: 180px; height: 80px;"/></td>   
                    <td>
                        {{cat.SponserTagLine}}
                    </td>        
                        
                      <td>
                       
                        <label class="toggle-switch">
                            <input type="checkbox" [(ngModel)]="cat.IsActive" (click)="changeStatus(cat)"/>
                            <div class="slider"></div>
                        </label>
                    </td>
                    <td>
                        <i class="fa fa-edit" (click)="editSponser(cat)"></i>
                    </td>
                    <td>
                        <i class="fa fa-trash text-danger" (click)="deleteSponser(cat)"></i>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

